html,body{
  background-color: #222;
  width:100%;
  height:100%;
}
.app {
  width:100%;
  height:100%;

}
.stage{
  position:relative;
  width:100%;
  height:680px;
}

/*img-sec start*/
.img-sec{
  width:100%;
  height:100%;
  overflow: hidden;
  background-color: #ddd;
  
}
/*img-sec end*/
