html,body{
  background-color: #222;
  width:100%;
  height:100%;
}
.app {
  width:100%;
  height:100%;

}
.stage{
  position:relative;
  width:100%;
  height:900px;
  overflow: hidden;
}

/*img-sec start*/
.img-sec{
  width:100%;
  height:100%;
  overflow: hidden;
  background-color: #ddd;
  @at-root{
    .img-figure{
      cursor:pointer;
      position: absolute;
      width:320px;
      height:360px;
      margin:0;
      padding:40px;
      box-sizing: border-box;
      background-color: #fff;
      transform-style: preserve-3d;
      &.is-inverse{
        transform: rotateY(180deg);
      }
    }
    figcaption{
      text-align: center;
      .img-title{
        margin:20px 0 0 0 ;
        color: #a7a0a2;
        font-size:16px;
      }
      .img-back{
        position: absolute;
        top:0;
        left:0;
        padding:50px 40px;
        box-sizing: border-box;
        width:100%;
        height:100%;
        color:#a7a0a2;
        line-height:1.25;
        font-size:22px;
        background-color: #fff;
        backface-visibility:hidden;
        transform: rotateY(180deg) translateZ(1px);
      }
    }
  }
}
/*img-sec end*/
